body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

h1, h2, h3, p {
    margin: 20px;
}

img {
    max-width: 100%;
    opacity: 1.0;
}

header {
    background-color: #0d0d8f;
    color: #fff;
    padding: 10px;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banner {
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0d0d8f;
    font-size: small;
    margin-bottom: 50px;
}

.banner2 {
    height: 200px;
}

.banner3 {
    height: 100px;
}

.featured-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    text-align: center;
    font-weight: bold;
}

.product {
    flex-basis: 300px;
    margin: 20px;

}

footer {
    background-color: #0d0d8f;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.contact-form {
    max-width: 400px;
    margin-bottom: 60px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: grid;
    gap: 20px;
    margin-left: 25px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #555;
}

.contact-info {
    margin-bottom: 60px;
}

.video {
    margin-bottom: 100px;
}